<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MedanTech_27</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" type="text/css" href="../css/profil.css">
    </head>

    <body>
        <main  style="padding-top: 0px;">
            <section class="section1">
                <span class="News">
                    <div><h1>Section Medan Group 27</h1>

                        <div class="B">
                            <div class="A-p">
                                <a >
                                    
                                    <div class="box-p">
                                        <div class="foto">
                                            <img src="../img/About Us/ubai1.jpg">
                                        </div> 
                                        <p>Ahmad Ubai Dullah</p>
                                    </div>
                                </a>
                            </div>
                            <div class="A-p">
                                <a >
                                    
                                    <div class="box-p">
                                        <div class="foto">
                                            <img src="../img/About Us/amira.jpg">
                                        </div> 
                                        <p>Amira Elistya Ardhin</p>
                                    </div>
                                </a>
                            </div>
                            <div class="A-p">
                                <a>
                                    
                                    <div class="box-p">
                                        <div class="foto">
                                            <img src="../img/About Us/april1.jpg">
                                        </div> 
                                        <p>Apriliyani</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="B">
                            <div class="A-p">
                                <a >
                                    
                                    <div class="box-p">
                                        <div class="foto">
                                            <img src="../img/About Us/kartika1.jpg">
                                        </div> 
                                        <p>Kartika Ayu W</p>
                                    </div>
                                </a>
                            </div>
                            <div class="A-p">
                                <a>
                                    
                                    <div class="box-p">
                                        <div class="foto">
                                            <img src="../img/About Us/riski1.png">
                                        </div> 
                                        <p>Riski Saputra</p>
                                    </div>
                                </a>
                            </div>
                            <div class="A-p">
                                <a >
                                    
                                    <div class="box-p">
                                        <div class="foto">
                                            <img src="../img/About Us/muthia1.jpg">
                                        </div> 
                                        <p>Muthiatur Rahmah</p>
                                    </div>
                                </a>
                            </div>
                        </div>      
                </span>
            </section>

    </body>

</html>