<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MedanTech_27</title>
        <link rel="stylesheet" href="../css/style.css">

    </head>

    <body>
        <header>
            <div class="navbar-fix">
                <nav>
                    <div class = "logo">
                        <img src="../img/LOGO.png">
                    </div>

                    <nav class="login">
                        <form>
                             <input type="text" placeholder="Cari Berita" class="search-input" id="search-dong">

                        </form>

                         <div type="button" class="btv"><img src="../img/ic.png"></div>
        
                        <b class="opsi-login">  
                        <div class="menu">
                            <ul>
                                <li class="home"><a href="../index.html">Home</a></li>
                                <li class="dropdown"><a href="#" class="dr"><img src="../img/icd.png"></a>
                                <ul class="isi-dropdown">
                                    <li><a href="profil.html">About Us</a></li>
                                    <li><a href="#sc2">Contact Us</a></li>
                                </ul>
                                </li>
                            </ul>
                        </div>  
                        </b>
                    </nav>
                </nav>

                <ul class="navbar">
                    <li><a href="app.html">Apps & OS</a></li>
                    <li><a href="Internet.html">Internet</a></li>
                    <li><a href="hardware.html">Hardware & Software</a></li>
                    <li><a href="game.html">Game & Video</a></li>
                    <li><a href="gadget.html">Gadget</a></li>
                </ul>
            </div>    
        </header>

        <main id="result-list">
            <section class="section1">
                <span class="News">
                    <div>
                        <div class="B">
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                        </div>
                         <div class="B">
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                        </div>
                        <div class="B">
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                        </div>
                        <div class="B">
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                            <div class="A">
                                <a href="detail_berita.html">
                                    <div class="box1"> <p>Title Berita</p></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </span>
            </section>
            <section class="section2-1" id="sc2">
                <div class="container">

                </div>    
                <div class="container">
                  <div class="comment-box gradient-bg" style="background-color: transparent; box-shadow: none;">
                      <h2 class="comment-title2">Have a question or feedback? We'd love to hear from you! Use the form on the side to get in touch:</h2>
                  </div>
                  <div class="comment-box gradient-bg">
                      <h2 class="comment-title">Contact Us</h2>
                      <form id="komentar-form" method="post">
                        <div class="form-group">
                          <label for="nama">Nama:</label>
                          <input type="text" id="nama" nama="nama" placeholder="Enter your name">
                        </div>
                        <div class="form-group">
                          <label for="email">Email:</label>
                          <input type="email" id="email" name="email" placeholder="Enter your email">
                        </div>
                        <div class="form-group">
                          <label for="komentar" class="komentar">Komentar:</label>
                          <textarea id="komentar" name="komentar" placeholder="Type your Comment here"></textarea>
                        </div>
                        <button type="submit" class="btn-submit" value="Kirim">Submit</button>
                      </form>
                      <script src="js/script.js"></script>
                  </div>
                 
                </div>
            </section>
        </main>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script>
            const btn = document.querySelector('.btv');
         
            function random(number) {
              return Math.floor(Math.random() * (number+1));
            }
         
            btn.addEventListener('click', () => {
              const rndCol = `rgb(${random(500)}, ${random(500)}, ${random(500)})`;
              document.body.style.backgroundColor = rndCol;
            });
          </script>
          <script src="js/script.js"></script>
    </body>
</html>